@import '@scss/utils';

.register-page {
  &__title {
    font-size: 48px;
    font-weight: weight('bold');
  }

  &__container {
    text-align: center;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    @include list('y', spacing(2));
  }

  &__submit {
    margin: spacing(1) auto 0;
  }
}