@import "@scss/utils";

.btn {
	@extend %interactive;
	display: flex;
	align-items: center;
  justify-content: center;
	position: relative;
	min-height: 36px;
	letter-spacing: inherit;
	border-radius: radius(1);
	border: 0;
  color: currentColor;
	font-size: inherit;
	background-color: transparent;
	padding: 0 spacing(2);
  max-width: 200px;
	outline: none;

  & > * {
    color: useColor('contrast');
  }

  &.filled {
    background-color: useColor('main');
  }

	&__text {
		position: relative;
		z-index: 1;
	}

	&__start-icon,
	&__end-icon {
		display: flex;
		align-items: center;
	}

	&__start-icon .icon {
		margin-left: spacing(-0.5);
		margin-right: spacing(0.5);
	}

	&:active:not(:disabled):not(.filled) &__backdrop {
		left: spacing(1);
		right: spacing(1);
	}
}