@import '../scss/utils';

.calendar {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    padding: spacing(1) 0;
    margin: spacing(-0.5);
    text-align: center;

    & > * {
      width: calc(14.28% - #{spacing(1)});
      margin: spacing(0.5);
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;

    &.next {
      right: -50px;
    }
    &.prev {
      left: -50px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: spacing(-0.5);
  }
}

@keyframes fade {
  50% {
    background-color: color('third');
    box-shadow: 0 -50px 50px -50px rgb(208,187,247) inset;
  }
}