@import "@scss/utils";

.checkbox {
  --backdrop-spacing: #{spacing(1)};

  @include color('primary');
	@extend %interactive;
	display: flex;
  border: none;
	align-items: center;
	border-radius: radius(1);
	padding: 0 var(--backdrop-spacing);
  color: useColor('main');

	&__control {
		display: none;
	}

	&__fake {
		position: relative;
		@include size(26px);
		border-radius: inherit;
	}

  &__fake-icon:not(._checked_) {
    transition: clip-path 200ms ease-in-out;
    clip-path: circle(100%);
    background-color: useColor('background');
    overflow: hidden;
    color: useColor('contrast-darken');
  }

	&__fake-icon, &__fake-icon._checked_ {
		position: absolute;
		@include size(calc(100%));
    @include position(0);
    border-radius: inherit;
		border: $border-width solid useColor('main');
	}

  &__fake-icon._checked_ {
    color: useColor('contrast');
    background-color: useColor('main');
    opacity: 1;
  }

	&__backdrop {
		@include absolute(#{calc(var(--backdrop-spacing) * -1)});
		border-radius: 50%;
		transition: left 260ms useTiming("bounce"), right 260ms useTiming("bounce"),
			top 260ms useTiming("bounce"), bottom 260ms useTiming("bounce"),
			opacity 200ms ease-in-out, border-radius 260ms useTiming("bounce");
	}

  &.checked &__fake-icon:not(._checked_) {
    clip-path: circle(0%);
  }

	&:active &__backdrop, &.active &__backdrop {
		border-radius: inherit;
		@include position(0px);
	}
}