@import "@scss/utils";

.circle-loader {
  color: useColor('contrast');

  &__effect {
    @include size(1em);
    border-radius: 50%;
    border: useBorder('primary');
    border-left-color: transparent;
    animation: rotate 700ms linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}