@import '@scss/utils';

.divider {
	opacity: 0.5;
  height: 0px;

	&__line {
		border-top: useBorder('primary');
    width: 100%;
    height: 100%;
	}

  &.vertical {
    height: 100%;
    width: 0px;
  }

  &.vertical &__line {
		border-left: useBorder('primary');
  }
}