@import '@scss/utils';

.dynamic-string {
  --content-width: 0px;
  --content-margin: #{spacing(4)};
  --border-opacity: 0;
  --run-duration: 5s;

  position: relative;
  user-select: none;

  &::before, &::after {
    content: '';
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    width: spacing(5);
    transition: opacity useTransition('opacity');
  }

  &::before {
    left: -1px;
    opacity: var(--border-opacity);
    background: linear-gradient(270deg, #{useColor('background', 0)} 0%, #{useColor('background')} 90%);
  }

  &::after {
    right: -1px;
    background: linear-gradient(90deg, #{useColor('background', 0)} 0%, #{useColor('background')} 90%);  
  }

  &__string {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: calc(1rem * 1.5);
  }

  &__content {
    position: absolute;
    animation: run-string 5s linear infinite;
    animation-duration: var(--run-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &:last-child {
      animation-name: run-string-second;
    }
  }

  &_active {
    --border-opacity: 1;
  }

  &:not(&_active) &__content {
    animation: none !important;
  }
}

@keyframes run-string {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((var(--content-width) + var(--content-margin)) * -1));
  }
}

@keyframes run-string-second {
  0% {
    transform: translateX(calc(var(--content-width) + var(--content-margin)));
  }
  100% {
    transform: translateX(0);
  }
}