@import '@scss/utils';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: color('primary');
  color: color('secondary');
  height: 50px;
  z-index: deep('high');
  transition: box-shadow 200ms ease-in-out;

  &.elevate {
    box-shadow: shadow('primary');  
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
