@import '@scss/utils';

$input-height: 40px;

.input {
  position: relative;
  border-radius: radius(1);
  padding: 0 spacing(2);
  min-height: $input-height;
  color: color('text');

  &__backdrop {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__backdrop {
    background-color: currentColor;
    border-radius: inherit;
    opacity: 0;
    pointer-events: none;
    transition: left 200ms timing('bounce'), right 200ms timing('bounce'), opacity 200ms ease-in-out;
    height: $input-height;
  }

  &__control {
    background-color: transparent;
    border: 0;
    width: 100%;
    font-size: inherit;
    padding: 0 spacing(2);
    outline: none;
    color: currentColor;
    font-weight: weight('bold');
    letter-spacing: inherit;
    height: $input-height;
  }

  &__divider {
    position: absolute;
    left: spacing(2);
    right: spacing(2);
    bottom: spacing(0.5);
    transition-property: opacity, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  &:active &__backdrop {
    left: spacing(1);
    right: spacing(1);
  }

  &:hover &__backdrop {
    opacity: $backdrop-opacity;
  }

  &:hover &__divider {
    opacity: 0;
  }

  &__control::placeholder {
    color: currentColor;
    opacity: 0.7;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 1;
  }

  &__error {
    text-align: left;
    color: color('danger');
    font-size: 13px;
    line-height: 18px;
  }

  &__required {
    position: absolute;
    bottom: $input-height / 3;
    left: 0;
    font-size: 20px;
  }

  &__wrapper {
    position: relative;
  }

  &.password &__control {
    letter-spacing: 2px;
    
    &::placeholder {
      letter-spacing: 0.1px;
    }
  }

  &.capitalize &__control {
    text-transform: capitalize;
  }

  &.error &__divider {
    color: color('danger');
  }

  &.error &__required {
    color: color('danger'); 
  }

  &:not(.error):not(.empty) &__divider {
    color: color('primary'); 
  }
}

.dark-theme .input {
  color: color('secondary');
}