@import "@scss/utils";

$input-height: 36px;

.input {
	$input: &;

  --details-opacity: 1;
  @extend %interactive;
  color: useColor('contrast');
  border: none;
  font-size: inherit;
  background-color: transparent;
  width: 100%;
  display: block;
	cursor: text;
	position: relative;
	border-radius: radius(1);
	padding: 0 spacing(2);
	min-height: $input-height;
	margin-left: spacing(-2);
	margin-right: spacing(-2);

  &_empty {
    --details-opacity: 0.7;
  }

  &:hover:not(.disabled) {
    --details-opacity: 0;
  }

	&.focus {
    --details-opacity: 0;
	}

  &.disabled {
    cursor: not-allowed;

    #{$input}__control {
      cursor: not-allowed;    
    }
  }

  &_with-icon &__wrapper {
    padding-right: spacing(4);
  }

	&__backdrop {
		top: auto;
		height: $input-height;
	}

	&__control {
		background-color: transparent;
		border: 0;
		width: 100%;
		font-size: inherit;
		outline: none;
    padding: 0;
		color: currentColor;
		letter-spacing: inherit;
		height: $input-height;

    &:-webkit-autofill {
      font-size: inherit;
    }

    &::placeholder {
      user-select: none;
    }
	}

	&__divider {
    opacity: var(--details-opacity);
		position: absolute;
		left: spacing(2);
		right: spacing(2);
		bottom: spacing(0.5);
		transition-property: opacity, background-color;
		transition-duration: 200ms;
		transition-timing-function: ease-in-out;
	}

	&:active &__backdrop, &.active &__backdrop {
		left: spacing(1);
		right: spacing(1);
	}

	&__control::placeholder {
		color: currentColor;
		opacity: 0.7;
	}

	&__icon {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		z-index: 20;
	}

	&__required {
    user-select: none;
    opacity: var(--details-opacity);
		position: absolute;
		bottom: $input-height / 3;
		left: spacing(-1.5);
		font-size: 20px;
		transition-property: opacity, background-color;
		transition-duration: 200ms;
		transition-timing-function: ease-in-out;
	}

	&__wrapper {
		position: relative;
	}

	&.capitalize &__control {
		text-transform: capitalize;
	}

  &.error {
    @include color('danger', true);
  }
}