@import '@scss/utils';

.loader {
  @include size(1em);
  border: 3px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: loading 750ms linear infinite;

  &__title {
    display: none;
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}