@import '@scss/utils';

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  background-color: rgba($color: color('third'), $alpha: 0.7);
  backdrop-filter: blur(3px);
  width: 100%;
  z-index: deep('high');
  transform: translate3d(-100%, 0, 0);
  transition: background-color 200ms ease-in-out, transform 360ms timing('bounce'), box-shadow 300ms ease-in-out;

  &.active {
    transform: translate3d(-80%, 0, 0);
    box-shadow: shadow('hard');
  }

  &__droplist {
    padding: spacing(1);
    padding-bottom: 0;
  }

  &__container {
    width: 20%;
    padding: spacing(2);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: spacing(0.5);
    }
  }

  &__item-header {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: spacing(1) spacing(2);
  }

  &__item-title {
    font-weight: weight('bold');
    margin-right: auto;
  }

  &__item-backdrop {
    background-color: currentColor;
    opacity: 0;
    border-radius: radius(1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: left 200ms timing('bounce'), right 200ms timing('bounce'), opacity 200ms ease-in-out;
  }

  &__item-header:hover &__item-backdrop {
    opacity: 0.2;
  }

  &__item-header:active &__item-backdrop {
    left: spacing(1);
    right: spacing(1);
  }

  &__item-icon {
    margin-right: spacing(1);
  }

  &__divider {
    margin: spacing(1) 0;
  }
}

.dark-theme .nav {
  background-color: rgba($color: color('dark'), $alpha: 0.8);
}