@import "@scss/utils";

.skeleton {
  color: color('secondary');
  overflow: hidden;
  position: relative;
  background-color: color('disabled');
  border-radius: radius(0.5);
  width: inherit;
  width: 100%;
  min-height: 21px;

  &__effect {
    @include absolute;
    opacity: 0.5;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, currentColor 50%, rgba(255,255,255,0) 100%);
    animation: run 1s linear infinite;
  }
}

@keyframes run {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}