@import '@scss/utils';

.switch {
  --backdrop-spacing: #{spacing(1)};
  --switch-height: 26px;

  @extend %interactive;
  color: useColor('main');
	background-color: transparent;
  border: none;
  padding: 0 var(--backdrop-spacing);

  &__wrapper {
	  position: relative;
	  border: $border-width solid currentColor;
    height: var(--switch-height);
    border-radius: calc(var(--switch-height) / 2);
    min-width: calc(var(--switch-height) * 1.8);
  }

  &__backdrop {
    @include position(#{calc(var(--backdrop-spacing) * -1)});
    border-radius: calc(var(--switch-height) + var(--backdrop-spacing) / 2);
  }

	&__thumb {
		position: absolute;
		@include size(#{calc(var(--switch-height) / 1.6)});
		border-radius: 50%;
		top: 0;
		bottom: 0;
		margin: auto 0;
		left: 3px;
		right: auto;
		transition: left 200ms useTiming('bounce'), background-color 200ms ease-in-out;
		background-color: currentColor;

    &::after {
      content: '';
      position: absolute;
      @include position(3px);
      border-radius: inherit;
      transition: clip-path 200ms ease-in-out;
      background-color: useColor('background');
      clip-path: circle(100%);
    }
	}

	&.checked &__thumb {
		left: calc(100% - 3px - (var(--switch-height) / 1.6));
	}

  &.checked &__thumb::after {
    clip-path: circle(0%);
  }

  &.active &__backdrop, &:active &__backdrop {
    @include position(-1px);
  }

  &[disabled] &__thumb {
    color: useColor('contrast');
  }
}