@import '@scss/reset';
@import '@scss/base';

:root {
	--text_font-scale: 1;
}

body {
	background-color: color('secondary');
	font-size: 18px;
}

::selection {
	background-color: useColor('contrast');
	color: useColor('main');
}

.app {
	height: 100%;
	padding-top: 50px;
	font-family: useFont('primary');
	font-weight: weight('regular');
	min-height: 120vh;
	display: flex;
	flex-direction: column;
	transition-property: color, background-color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}