@import '@scss/utils';
@import '@scss/grid';
@import '@scss/transitions';
@import '@scss/flex-props';
@import '@scss/colors';
@import '@scss/display';
@import '@scss/margins';

* {
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}

html, body {
  height: 100%;
}

.app {
  @include color('secondary');
  background-color: useColor('main');
  color: useColor('contrast');
  --background-color: var(--main-color);
	min-width: 320px;
	max-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

.fixed {
	overflow: hidden;
}

//* disable highlight for interative elements
a,
button,
label,
input,
[tabindex] {
	@include disableTapHighlight;
}